 *{
  padding: 0px;
  margin: 0px;
 }
/*Form section starts*/
  .inp1{
  	padding: 5px;
  }
  .myList{
  	font-size: 20px;
    line-height: 20px;
  }
/*Form section ends*/

  .mytext{
  	background-color: #c6c6c6;
  	color: #000;
  	width: 300px;
    padding: 15px;
    margin: 10px auto;
  }

  .myBtn{
    background-color: #000;
    color: #fff;
  }

  .myBtn:hover{
    color: #fff!important;
  }

  .remove{
    float: right;
    cursor: pointer;
  }